%h1 The Monty Hall Problem
%p
This is a computer simulation of the Monty Hall problem.  The Monty Hall problem is a well known probability problem which takes its name from a popular television game show
of the 1970's featuring host Monty Hall.  Prizes were hidden behind three curtained "doors".  One was the
grand prize and the other two were prizes of considerably lesser value.  The contestant would be given the 
prize behind the door of his or her choice.  After the contestant chose one of the three doors, Monty Hall would then show the contestant and the audience what was behind one of 
the remaining two doors.  Because Monty Hall knew which door hid the grand prize, he would never show 
the contents of that one.  After displaying the contents of one of the doors, there were, of course, only two doors remaining, the one already chosen by the contestant and the other whose contents had not been revealed.  Monty Hall then gave the contestant 
the opportunity to change his or her mind and select
the other remaining door.

%p#question The famous question posed was "should the contestant switch doors when given the opportunity to do so?"

%p
According to
= link_to "Wikipedia", "http://en.wikipedia.org/wiki/Monty_Hall_problem"
this question was first posed by Steve Selman to the American
Statistician in 1975.  It was popularized when the same question was posed to Marilyn vos Savant, a 
columnist noted for her exceptionally high I.Q.  Marilyn vos Savant told her readers that the contestant had a 33% probability of winning if he or she did not switch doors, and a 67% probability of winning if he or she did switch and therefore it was better for the contestant to switch doors when given the opportunity.
This opinion was a matter of considerable controversy at the time with some eminent scholars publicly stating 
that because there were only two doors remaining, each had an equal 50% probability of concealing the grand prize and, therefore, there was no advantage to switching.
%p#question So, what do you think?
%hr
%hr
%p
- if @step == 1
  "Would you like to play a game?"
  = link_to "Yes!", '/games/play'
%p
%p
- if @step == 2
  A fabulous prize is behind one of these three doors.  Pick one!
  %br
  = link_to "Door Number 1", '/games/choose/1'
  %br
  = link_to "Door Number 2", '/games/choose/2'
  %br
  = link_to "Door Number 3", '/games/choose/3'
%p
%p
- if @step == 3
  = "You picked door number #{@game.u_door}"
  %p
  = "Monty shows you what is behind door number #{@game.show_door} - A GOAT!"
  %p
  %p
  = "You picked door number #{@game.u_door}.  Do you want to switch to door number #{@game.other_door}?"
  %br
  = link_to "Yes!", '/games/switch_door/'
  = link_to "No!", '/games/no_switch'
%p
%p
- if @step == 4
  = "The winning door is door number #{@game.w_door}."
  %br
  - if @game.won
    #message-won="#{@message}"
  - unless @game.won
    #message-lost="#{@message}"
  %p
  %p
  = "Players who switched have won #{@percent_switch}% of the time."
  %br
  = "Players who did not switch have won #{@percent_no_switch}% of the time."
  %p
  %p
  Would you like to play again?
  = link_to "Yes!", '/games/play'



