%h1 The Monty Hall Problem
%p
Give a little history ...
%br
%hr

%hr
%p
- if @step == 1
  "Would you like to play a game?"
  = link_to "Yes!", '/games/play'
%p
%p
- if @step == 2
  A fabulous prize is behind one of these three doors.  Pick one!
  %br
  = link_to "Door Number 1", '/games/choose/1'
  %br
  = link_to "Door Number 2", '/games/choose/2'
  %br
  = link_to "Door Number 3", '/games/choose/3'
%p
%p
- if @step >= 3
  = "You picked door number #{@game.u_door}"
  %p
  = "Monty shows you what is behind door number #{@game.show_door} - A GOAT!"
  %p
  %p
  = "You picked door number #{@game.u_door}.  Do you want to switch to door number #{@game.other_door}?"
  %br
  = link_to "Yes!", '/games/switch_door/'
  = link_to "No!", '/games/no_switch'
%p
%p
- if @step >= 4
  = "Switched door: #{@game.sw_door}"
  %br
  = "User door: #{@game.u_door}"
  %br
  = "The winning door is door number #{@game.w_door}."
  %br
  ="#{@message}"
  %p
  %p
  = "Players who switched have won #{@percent_switch}% of the time."
  %br
  = "Players who did not switch have won #{@percent_no_switch}% of the time."
  %p
  %p
  Would you like to play again?
  = link_to "Yes!", '/games/play'



