%h1 The Monty Hall Problem
%p
Give a little history ...
%br
%hr
=puts params.inspect
%hr
%p
"Would you like to play a game?"
= link_to "Yes!", '/games/play'
%p
%p
- if @step >= 2
  A fabulous prize is behind one of these three doors.  Pick one!
  = form_tag '/games/choose', :method => :get, :id => 'pick_door' do
    = label_tag "Door Number 1"
    = radio_button_tag "Door", 1
    %br
    = label_tag "Door Number 2"
    = radio_button_tag "Door", 2
    %br
    = label_tag "Door Number 3"
    = radio_button_tag "Door", 3
    %br
    = link_to "Choose", '/games/choose'
%p
%p
- if @step >= 3
  You picked
  = @game.u_door
  %p
  Monty shows you what is behind
  = @game.show_door
  A GOAT!
  %p
  %p
  Do you want to switch to
  = @game.other_door?
  %br
  = link_to "Yes!", '/games/switch'
  = link_to "No!", '/games/no_switch'


